<ion-header>
   <ion-toolbar> 
     <ion-title>Page de connexion</ion-title> 
     <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="BACK"></ion-back-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
 <ion-content> 
     <form [formGroup]="loginForm" (submit)="login(loginForm.value)"> 
       <ion-list> 
         <ion-item> 
           <ion-label position="stacked">Email</ion-label> 
           <ion-input formControlName="identifier"></ion-input>
           </ion-item>
            <ion-item> 
              <ion-label position="stacked">Mot de passe</ion-label> 
              <ion-input formControlName="password" type="password"></ion-input> 
            </ion-item> 
       </ion-list> 
          <ion-button type="submit" expand="full">Se connecter</ion-button> 
          
          <a routerLink="/register">S'inscrire</a>
      </form> 
</ion-content>